.main {
  text-align: center;
}

.circle1 {
  display: flex;
  flex-direction: column;
  border: 10px solid #bd0048;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.circle2 {
  display: flex;
  flex-direction: column;
  border: 15px solid #bd0048;
  border-radius: 50%;
  height: 290px;
  width: 295px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.circle3 {
  display: flex;
  flex-direction: column;
  border: 20px solid #bd0048;
  border-radius: 50%;
  height: 340px;
  width: 345px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.buttons {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.start-button {
  margin-right: 3px;
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 35px;
  line-height: 44px;
  outline: 0;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.start-button:hover {
  background: #bd0048;
}

.reset-button {
  margin-left: 3px;
  background-color: initial;
  background-image: linear-gradient(-180deg, #bf2963, #bd0048);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 35px;
  line-height: 44px;
  outline: 0;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.reset-button:hover {
  background: #bd0048;
}

.elapsed-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 50px;
  font-size: 50px;
  font-weight: 900;
}
.input {
  text-align: center;
  padding: 10px;
  width: 50%;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
}
